<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002284040958-th2j78jdf4m3r08ibtf20c4a2tn7750f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002284040958-th2j78jdf4m3r08ibtf20c4a2tn7750f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002284040958-4qkj4f6v2c95qf311nbole0d715a7ncd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmzE1sSD7q1nLXiYT0KWgzED-IeLiL5ls</string>
	<key>GCM_SENDER_ID</key>
	<string>1002284040958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TBC.RNAPP</string>
	<key>PROJECT_ID</key>
	<string>albya-a3c55</string>
	<key>STORAGE_BUCKET</key>
	<string>albya-a3c55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002284040958:ios:ec8eae200e639c30cb9baf</string>
	<key>DATABASE_URL</key>
	<string>https://albya-a3c55.firebaseio.com</string>
</dict>
</plist>